@import '../../styles/lib/includes';

#primary-navbar {
    .search-wrapper {
        position: relative;
        .form-control {
            // background: rgba(255,255,255,0.25);
            $light-color: map-get($theme-colors, "light");

            color: $light-color;
            background-color: transparent;
            border-color: $navbar-dark-color;
            // border-color: rgba($light-color, 0.5);
            &:active, &:focus {
                border-color: $light-color;
                // background-color: rgba($light-color, 0);
                // border-color: rgba($light-color, 0.5);
            }
            &::placeholder {
                color: $navbar-dark-color;
            }
        }
    }

    .navbar-toggler {
        outline: none !important;
        box-shadow: none !important;
        background: none !important;
        border: none !important;
        padding-left: 0;
    }
    .navbar-nav {
        margin: 1rem 0 0.5rem;
        .nav-link {
            padding: 0.1rem 0;
        }
    }

    .search-results {
        position: absolute;
        right: 0;
        top: 100%;
        width: auto;
        min-width: 100%;
        display: flex;
        overflow-x: visible;
        .dropdown-menu {
            width: auto;
            min-width: 100%;
            position: relative;
            margin-left: auto;
        }
    }

    @include media-breakpoint-up(md) {
        .search-wrapper {
            max-width: 25rem;
            order: 99;
        }
        .navbar-nav {
            margin: 0;
            .nav-link {
                padding: $nav-link-padding-y $nav-link-padding-x/2;
            }
        }
    }
}